@model IEnumerable<Server.Point>

@{
    ViewData["Title"] = "Index";
}

<h2>Остановочный пункт</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Время стоянки</th>
            <th>Расстояние от начальной станции</th>
            <th>Маршрут</th>
            <th>Станция</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StayTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TripDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Station.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
