@model IEnumerable<Server.Station>

@{
    ViewData["Title"] = "Index";
}

<h2>Станции</h2>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Префикс</th>
            <th>Название</th>
            <th>Город</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prefix.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирование</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удаление</a>
            </td>
        </tr>
}
    </tbody>
</table>
