@model IEnumerable<Server.CarriageHasLocomotive>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FreeSeats)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Carriage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locomotive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FreeSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carriage.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locomotive.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
