@model IEnumerable<Server.Ticket>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Цена</th>
            <th>Номер вагона</th>
            <th>Время прибытия</th>
            <th>Время отправления</th>
            <th>Пользователь</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarriageNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArriveNavigation.Point.Station.Name)
                @item.ArriveNavigation.ArriveTime.ToString("dd/MM/yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartNavigation.Point.Station.Name)
                @item.DepartNavigation.ArriveTime.ToString("dd/MM/yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
                @Html.DisplayFor(modelItem => item.User.FirstName)
                @Html.DisplayFor(modelItem => item.User.MiddleName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
